<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <section class="home" id="home">
    <div class="max-width">
      <div class="home-content">
        <div class="text">Liquid Bingo</div>
        <div class="description">xd <span class="typing"></span>.</div>
        <a href="{{url_for('login')}}">Login Page</a><br />
        <a href="{{url_for('register')}}">Register Page</a><br />
      </div>
    </div>
  </section>
</html>
