<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.typekit.net/cmc1mzw.css" />
    <link rel="stylesheet" href="/static/css/loginstyle.css" />
    <link
      rel="icon"
      href="https://cdn.discordapp.com/emojis/771556839917355038.png?"
    />
    <title>Login</title>
  </head>
  <body>
    <div class="form animated bounceIn">
      <h1>Login</h1>
      <form action="#" method="post" m>
        <input placeholder="Email" type="text" name="email-field" />
        <input placeholder="Password" type="password" name="pw-field" />
        <button class="animated infinite pulse" type="submit">Login</button>
      </form>
      <br />
      <h2 class="error">{{login_fail}}</h2>
      <a href="{{url_for('register')}}">Sign Up</a>
      <a>&emsp;</a>
      <a href="{{url_for('home')}}">Home</a><br />
    </div>
  </body>
</html>
